<plugin name='shiro-tags' version='0.1' grailsVersion='2.4 &gt; *'>
  <author>Michael Schuenck</author>
  <authorEmail>michaelss@gmail.com</authorEmail>
  <title>Shiro Tags Plugin</title>
  <description>Tags for presenting GSP links according to the user permissions, defined byShiro. Instead of using &lt;g:link&gt; and &lt;g:createLink&gt;, the developer should use&lt;shiro:link&gt; and &lt;shiro:createLink&gt;. If the user has no permission to thedeclared controller and/or action, the link is not presented. Thus, if thecontroller nor the action is informed, the regular &lt;g:xxx&gt; tags can be used. Inorder to use this plugin, Apache Shiro Integration for Grails(https://grails.org/plugin/shiro) is required.
</description>
  <documentation>https://grails.org/plugin/shiro-tags</documentation>
  <type>ShiroTagsGrailsPlugin</type>
  <resources>
    <resource>CreateLinkTagLib</resource>
    <resource>LinkTagLib</resource>
    <resource>ShiroBaseTagLib</resource>
  </resources>
</plugin>