<plugin name='shiro-tags' version='0.1' grailsVersion='2.4 &gt; *'>
  <author>Michael Schuenck</author>
  <authorEmail>michaelss@gmail.com</authorEmail>
  <title>Shiro Tags Plugin</title>
  <description>Tags for presenting GSP links according to the user permissions.
</description>
  <documentation>https://grails.org/plugin/shiro-tags</documentation>
  <type>ShiroTagsGrailsPlugin</type>
  <resources>
    <resource>AccessTagLib</resource>
  </resources>
</plugin>